.grey-background{
    width: 70%;
    background-image: url('Images/background.png');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 15px;
}

.intro{
    display: flex;
    gap: 8em;
    padding: 2em;
    margin-top: 1em;
    
}
 

.profile-image{
    width:19%;
}

.myimg{
    width: 100%;
    height: auto;
    margin-left: 2em;
    border-radius: 10px;
    
}

.intro-section{
    background-color: white;
    color: black;
    width: 70%;
    padding: 0.5em;
    border-radius: 15px;
}

.prof-and-skills{
    display: flex;
    gap: 2em;
    padding: 2em;
    margin-bottom: clamp(1em, 4vw, 3em);

}

.profeciency-section{
    background-color: white;
    color: black;
    width: 40%;
    padding: 0.5em;
    border-radius: 15px;
}

.skills{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    background-color: white;
    border-radius: 15px;
    
    .d{
        background-color: #bcd7cc;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        text-align: center;

    }
}

.projects-section{
    display: grid;
    grid-template-rows: auto 1fr
    background-color: white;
    color: black;
    margin-bottom: 1em;

}

.Projects{
    display: flex;
    margin-top:0em;
    gap: 2em;
    width: 90%;
    background-color: white;
    color: black;
    padding: 0.5em;
    border-radius: 15px;
    margin: 0 auto;
}
.project{
    background-color: #bcd7cc;
    border-radius: 15px;
}

.project-image{
    float: right;
    margin-bottom: 15em;
}

.education-and-tools{
    display: flex;
    gap: 2em;
    
}

.education-section{
    background-color: white;
    color: black;
    width: 70%;
    padding: 0.5em;
    border-radius: 15px;
    
}

.school{
    background-color: #bcd7cc;
    border-radius: 15px;
    padding: 0.5em;
    width: 90%;
    
}

.tools{
    background-color: white;
    width: 20%;
    height: 50%;

}

.expereince-section{
    display:flex;
    background-color: white;
    color: black;
    width: 50%;
    padding: 0.5em;
    border-radius: 15px;
}
.experience{
    background-color: #bcd7cc;
    border-radius: 15px;
    padding: 0.5em;
    width: 50%;
}



    



















