body {
    background-color: rgb(176, 173, 173);
    background-size: cover;
}

.greybackground {
    text-align: center;
    position: absolute;
    height: 270%;
    overflow: visible;
}

.background {
    width: 62%;
    height:auto;
    position: relative;
    border: 0.2rem solid black;
    border-radius: 1em;
}

.intro-section {
    position: absolute; 
    width: 39%;
    height: 6.5%;
    top: 7.8em; 
    left: 52em; 
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
}

.myimg {
    position: absolute;
    top: 1em;
    width: 12em;
    height: 12em;
    border-radius: 10%;
    left: 10em;
}

.lvl-section {
    position: absolute;
    height: 10%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 15em;
    left: 19em;
    border-radius: 0.8rem;
    padding: 1.2rem;
    align-items: start;
    
}

.lvl-section ul {
    list-style-type: none;
    position: relative;
    left: -7em;
    top: -3em;
}

#Beginner {
    top: -0.75em;
    position: relative;
    left: -7.3em;
}

#intermediary {
    top: -3.0rem;
    position: relative;
    left: 5em;
}

#Profeciency {
    position: relative;
    top: -0.4em;
    left: -6em;
}

.progress-bar-1{
    background-color: #4a8b70;
    width: 12%;
    position: absolute;
    height:7%;
    border-radius: 10px;
    padding: 1%;
    left: 16em;
    top:0.4em;

}
.progress-bar-2{
    background-color: #4a8b70;
    width: 12%;
    height: 7%;
    border-radius: 10px;
    padding:1%;
    position: absolute;
    left: 16em;
    top: 1.6em;
}
.progress-bar-3{
    background-color: #4a8b70;
    width: 13%;
    height: 7%;
    border-radius: 10px;
    padding:1%;
    position: absolute;
    left: 16em;
    top: 2.7em;
}
.progress-bar-4{
    background-color: #4a8b70;
    width: 50%;
    height: 7%;
    border-radius: 10px;
    padding:1%;
    position: absolute;
    left: 16em;
    top: 3.9em;
    
}

.skills-section {
    position: absolute;
    top: 15em;
    left: 43em;
    height: 10%;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.8rem;
    padding: 1.2rem;
}

.skills-section .skills-heading {
    position: relative;
    left: -8em;
    top: -1.3em;
}

.skills-section .d1,
.skills-section .d2,
.skills-section .d3,
.skills-section .d4{
 
    display: inline-block;
    position: relative;
    top: -1.7em; 
    left: -1em;
    padding: 0.5em 1em; 
    margin: 0.5em; 
    height: 30%;
    width: auto;
    background-color: #cde7dc; 
    border-radius: 50px;
    text-align: center; 
    font-size: 0.9em;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.Projects {
    position: relative;
    border-radius: 0.8rem;
    width: 59%;
    height: 50% !important;
    top: -102rem;
    padding: 1rem;
    background-color: #ffffff;
    left: 17.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    gap: 60px;

    #portfolio-website{

        background-color: #4a8b70;
        height: 2%;
        width: 17%;
        top: 0rem;

        }

    .projects-header{
        top:-0.3rem;
        position:absolute;
        left: 26rem;
        font-size:medium;
        
    }
    .responsive-footer{
        left: -1.3em;
        position: relative;
        width: 15%;
        top: 0.3rem;
        height: 20%;
    
        
    }
    .insta-profile{
        position: relative;
        left: 2em;
        width: 16%;
    }

}
.Projects div{
    position: relative;
    top: -0.2em;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: #E7F0EC;
    font-size: small;
    color: rgb(0, 0, 0);
    width: 15.1%;
}



.education-section {
    position: relative;
    border-radius: 0.8rem;
    width: 42%;
    height: 70%;
    top: -101rem;
    padding: 1rem;
    background-color: #cde7dc;
    left: 18rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

    #Curro{

    background-color: #4a8b70;
    }
}

.education-section div {
    position: relative;
    border-radius: 0.8rem;
    width: 80%;
    padding: 1rem;
    background-color: #E7F0EC;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;



}

.education-section div h5,
.education-section div h3 {
    margin: 0;
    flex-direction: column;
}

.education-section div ul {
    margin: 0;
    padding-left: 1rem;
    list-style-type: disc;
}

.tools {
    width: 4%;
    height: 25%;
    position: absolute;
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    padding: 5%;
    top: 58.4rem;
    left: 58rem;
    gap: 15px;

    .tools-heading{
        top:-4em;
        position: relative;
    }
}

.languages-div{
    background-color: #E7F0EC;
    display: column,2;
    width:180%;
    height:36%;
    top: -3.6em;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 5%;
    left: -1.6em;

    .languages-pill{
        background-color: black;
        color: white;
        top: -0.7rem;
        position: relative;
        border-radius: 50px;
        text-align: center; 
        font-size: 0.2em;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

}

.design-div{
    background-color: #E7F0EC;
    display: column,2;
    width:180%;
    height:30%;
    top: -2rem;
    left: -1.6rem;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 5%;

    .design-pill{
        background-color: black;
        color: white;
        top: -0.7rem;
        position: relative;
        border-radius: 50px;
        text-align: center; 
        font-size: 0.2em;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

}

.tools-div{
    background-color: #E7F0EC;
    display: column,2;
    width:180%;
    height:30%;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    border-radius: 10px;
    left: -1.5rem;
    padding: 5%;

    .tools-pill{
        background-color: black;
        color: white;
        top: -0.7rem;
        position: relative;
        border-radius: 50px;
        text-align: center; 
        font-size: 0.2em;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

}

.experience-section {
    position: absolute;
    border-radius: 0.8rem;
    width: 41.3%;
    height:15% !important;
    top: 85rem;
    padding: 1rem;
    background-color: #ffffff;
    left: 18.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

}

.experience-section div {
    position: absolute;
    border-radius: 0.8rem;
    width: 70%;
    top: 6em;
    padding: 1rem;
    background-color: #E7F0EC;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.experience-section div h5,
.experience-section div h3 {
    margin: 0;
    flex-direction: column;
}

.experience-section div ul {
    margin: 0;
    padding-left: 1rem;
    list-style-type: disc;
}

.contact-section{
    position: absolute;
    border-radius: 0.8rem;
    width: 50%;
    top: 155em;
    left: 27em;
    padding: 1rem;
    background-color: #de4f0d;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

}

@media (max-width: 768px) {
    body {
      padding: 0;
      width: 4000px !important;
      height: 3000px;
      margin: 0;
      background-color: rgb(176, 173, 173);
      
    }
  
    .greybackground {
      width: 600px;
      height:4000px !important;
      padding: 20px;
      margin: 0 auto;
    }
  
    .myimg {
      width: 120px;
      height: 130px;
      margin-bottom: 20px;
      position: relative;
      left: 3.8rem;
      top: -28em;
      
    }
  
    .intro-section {
      width: 12.5rem;
      height: 1%;
      padding: 15px;
      margin: 0 auto 20px auto;
      left: 11.1rem;
      top: -109em;
      position: relative;
      font-size: xx-small;
    }
  
  .skills-section{
    width:35em;
    height:15em;
    font-size: xx-small;
    left: 16em;
    top: 18.8em;
  }

}

  .skills-section .d1,
  .skills-section .d2,
  .skills-section .d3,
  .skills-section .d4{
    width:7em;
    font-size: xx-small;
    

  

  .lvl-section{
    font-size: xx-small;
    width: 8rem;
    top: 34em;
    height: 6rem;
    left: 13em;
  }
 .progress-bar-1,
 .progress-bar-2,{
    left: 40em;
    
}

.progress-bar-3,
 .progress-bar-4{
    left: 15em;
    
 }



  .Projects{
    font-size: 0.2em !important;
    width:16em;
    position: absolute;
    height:15em;
    top: 20em;
    

  }
  .portfolio-website{
font-size: 0.2em;


  }


  .responsive-footer,
  .insta-profile,
  .portfolio-website,
  .pets-website{
    font-size: xx-small;
    position: relative;
    width: 10em;
    height:10em;

}
.education-section{
    font-size: 0.2em !important;
    position: static;
    width: 18em;
    height: 6em;
    top: 20em !important;
}


.experience-section {
    width: 15em;
    height: 14em !important;
    top: 30em;


}
.experience-section div{
    width: 17em;
    height: 10em;
    top: 3.6em;
}
.experience-section h4{
top: 0em;
position: absolute;

}
.experience-section ul{
    width: 18em;
    height:7em;
    font-size: 0.53em;
    position: absolute;
    top: 7em;
    left: 5em;


}


}
















